<% if @user.errors.any? %>
<h1> Sign up for alpha blog</h1>
<h2>The following errors prevented the article from getting created:</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @user do |f| %>
<p>
  <%= f.label :username %><br>
  <%= f.text_field :username %>
</p>
<p>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.submit "Sign up" %>
</p>
<% end %>

<%= link_to "Back to home", root_path %>